.display {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gradient {
  background-image: linear-gradient(to bottom, #868f96, #464b4d);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
  
}

.input-text {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  width: 80%;
  margin: 10px;
}

span {
  color: white;
  font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}
